* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header styles */

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    width: 350px;
}

header {
    background-color: #1F2937;
    height: 450px;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 380px;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-main {
    display: flex;
    justify-content: center;
    margin: 70px;
}

/* .header-main-left {
    display: flex;
    flex-direction: column;
} */

.header-main-left p {
    width: 400px;
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 10px;
}

.header-main-left button {
    background-color: #3882F6;
    color: white;
    width: 115px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.header-main img {
    height: 220px;
    margin-left: 50px;
    width: 450px;
}

/* First section styling */

.information-section{
    text-align: center;
    padding: 50px;
}

.information-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    gap: 40px;
}

.information-card img{
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.information-card p {
    width: 150px;
}

/* Second section styling */

.quote-section {
    background: #E7E5EB;
    padding: 80px;
    display: flex;
    justify-content: center;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 750px;
    font-weight: lighter;
}

cite{
    display: block;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}